---
import Layout from "../layout/Layout.astro";
---

<Layout>
  <div class="h-screen relative bg-cover bg-no-repeat bg-[url('bg.svg')]">
    <div class="max-w-screen-2xl mx-auto pt-[10vw]">
      <div class="space-y-4">
        <h1 class="text-white uppercase tracking-wider text-lg">
          Outfit of the day
        </h1>
        <h2 class="text-5xl uppercase leading-snug">
          All your <br />
          <span class="tracking-wider font-bold">styles are here</span>
        </h2>

        <h3 class="max-w-lg font-light">
          Consectetur adipiscing elit. Cursus condimentum donec non dictum. Id
          et sed ac mauris, adipiscing tincidunt amet vel at. Quis lobortis id.
          consectetur adipiscing elit.
        </h3>

        <a
          href=""
          class="!mt-10 uppercase font-normal bg-white inline-block px-14 py-2 text-center text-bostro-blue-10 shadow-md shadow-bostro-blue-10 rounded-full drop-shadow-lg active:translate-y-1 transition-all hover:text-bostro-pink-10 hover:shadow-bostro-pink-10 duration-200"
        >
          Try now
        </a>
      </div>
    </div>
  </div>
</Layout>
